#bloc
{
	min-height: 100%; Phase de test */
	font-family: "Roboto";
}

nav
{
	text-align: center;
}

nav .blue
{
	color: #4073d4;
}

nav a
{
	display: inline-block;
	margin: 10px;	
}

nav a button
{
	min-width: 120px;
}

/*#pydio_link
{
	max-width: 120px;
}*/

.red
{
	color: #dc253a;
}
