form p, h2
{
	font-family: 'Roboto', 'Trebuchet MS', 'Serif';
	color: #b19a86;
}

input
{
	font-family: 'Roboto', 'Trebuchet MS', 'Serif';
	color: black;
}

#bloc
{
	min-height: 100%;
}

form
{
	text-align: center;
}

@media (min-width: 1400px)
{

	form p, h2
	{
		font-family: 'Neou', 'Trebuchet MS', 'Serif';
		color: #b19a86;
	}

}